.App {
  text-align: center;
}


body {
  margin: 0;
  font-family: "System-ui", -apple-system, system-ui, "segoe ui", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
}

.nav-sider{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0px;
  flex: 0 0 200px;
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  color: #000000;
}
.navigation {
 color: #000000;

}
.main {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLVViwKZaOfNpqDuY7gP0bkJFn_TqSNy1klloQBwMsIgf1A7XA");
 background-repeat: no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
{
  background-color: #ffffff;
  color: #000000;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 1px solid #000000;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
  border-right: 3px solid #000000;
}
.ant-menu-item {
  color: #ffffff;
}
.ant-menu-item:hover {
  color: #ffffff;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
  margin-bottom: 15px;
}